{% extends 'base.html' %}


{% block body %}

    <div class="non-dashboard">
        <div>
            <h1 class="heading-h1">Order History</h1>
            <p>View your order history and payments receipts.</p>
        </div>

        <div id="history-info-table">
            <table id="order-history-table"> 
                <tr>
                    <th>Date</th>
                    <th>Confirmation ID</th>
                    <th>Test Name</th>
                    <th>Total</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                
            </table>
        </div>
    </div>


{% endblock %}