{% extends 'settingsbase.html' %}


    {% block settingsbody %}

    <div id="account-info-form-box">
        <form enctype="multipart/form-data" action="" method="post" id="change-email-form">
            {% csrf_token %}
            <h3>Change Password</h3>

        
            <div id="change-email-form-main-box">
                <div class="change-email-input-wrap">
                    <label for="name" class="change-label">Current Password</label>
                    <span>                            
                        <input type="password" class="change-input" id="new-email"  > 
                    </span>
                
                </div>
                <div class="change-email-input-wrap">
                    <label for="name" class="change-label">New Password</label>
                    <span>                            
                        <input type="password" class="change-input clear" id="new-email"  > 
                    </span>
                
                </div>
                <div id="password-warnings">
                    <p>Passwords must meet the following requirements:</p>
                    <table id="password-warnings-table" > 
                        <tr>
                            <td><i></i>at least 8 characters long</td>
                            <td><i></i>at least 1 uppercase letter</td>
                            
                        </tr>
                        <tr>
                            <td><i></i>at least 1 lowercase letter</td>
                            <td><i></i>at least 1 number</td>
                            
                        </tr>
                        
                    </table>

                </div>
                <div class="change-email-input-wrap">
                    <label for="name" class="change-label ">Confirm New Password</label>
                    <span>                            
                        <input type="password" class="change-input clear" id="password" > 
                    </span>
                </div>
            </div>
            <input type="submit" name="Change Password" value="Change Password" id="change-form-btn" class="tomato-btn">

        </form>
    </div>


    {% endblock %}
