{% extends 'accountsbase.html' %}


{% block body %}
<div id="login-form-box">
    <form enctype="multipart/form-data" action="" method="post" id="login-form">
        <h2 class="forgot-h2">Forgot Your Pasword?</h2>
        <p style="font-size: small;">Enter the email address for your account to reset your password.</p>

        <input type="email" class="login-input" id="forgot-email" style="margin-bottom: 15px;">

        <div class="login-form-btn-box">
            <input type="submit" value="Next" class="login-button"> 
        
        </div>
        <div class="login-form-btn-box return-btn"><a href="{% url 'accounts:login' %}">Back to Login</a></div>

    </form>
</div>
{% endblock %}
